@charset "utf-8";
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    header nav ul li a{font-size: 0.8em}
    .search_ico{position: absolute; right: 1%;}

    footer .footer-bottom{width:100%;height:40px;background: #000;text-align: -webkit-left;}
    footer .footer-bottom p{font-size: 0.8em;color: #464647;}
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
    header nav ul li a{font-size: 0.8em}
    .search_ico{position: absolute; right: 1%;}

    footer .footer-bottom{width:100%;height:40px;background: #000;text-align: -webkit-left;}
    footer .footer-bottom p{font-size: 0.8em;color: #464647;}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    header{ width: 100%; margin: auto; }
    .nav,.logo { display: none;}
    .search_ico{position: absolute; right: 1%;}
    header .m_logo{ display:block;position:absolute;top:20%;left: 20%;right: 20%;height: 60%; }
    header .m_logo img{ width: 100%;height: 100%;}

    footer .footer-bottom{width:100%;height:40px;background: #000;text-align: -webkit-left;}
    footer .footer-bottom p{font-size: 0.6em;color: #464647;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    header{ width: 100%; margin: auto; }
    .nav,.logo { display: none;}
    .search_ico{position: absolute; right: 0;}
    header .m_logo{ display:block;position:absolute;top:20%;left: 20%;right: 20%;height: 60%; }
    header .m_logo img{ width: 100%;height: 100%;}

    footer .footer-bottom{width:100%;height:40px;background: #000;text-align: -webkit-left;}
    footer .footer-bottom p{font-size: 0.6em;color: #464647;}
}

@media only screen and (max-width: 479px) {
    header{ width: 100%; margin: auto; }
    .nav,.logo { display: none;}
    .search_ico{position: absolute; right: -2%;}
    header .m_logo{ display:block;position:absolute;top:20%;left: 20%;right: 20%;height: 60%; }
    header .m_logo img{width: 100%;height: 100%;}

    footer .footer-bottom{width:100%;height:40px;background: #000;}
    footer .footer-bottom p{font-size: 0.6em;color: #464647;text-align: left;}
}
