@charset "utf-8";
/* -----------------------header----------------- */
header { position:fixed;top: 0;width: 100%;  background: #222; height: 10%; border-bottom: #464647 1px solid;  z-index:9999}
header .logo{ position:absolute;left: 3%;width: 20%;height: 100%; }
header .logo img{ position:absolute;width: 100%;height: 100%;}

header nav {position:absolute; transform:translate(0%,0%);left: 35%;top:10%;width: 100%;height: 100%;   }
header nav ul{line-height: 100% !important;}
header nav ul li { display: inline;}
header nav ul li a { font-size: 0.8em; color: #FFF !important; display: block; padding:1%;  float: left }
header nav ul li a:hover { color: cadetblue !important; background: rgba(20, 20, 20, 0.8); box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0 1px 1px rgba(0,0,0,.7); border-radius: 6px; }

.search_ico {width: 60px; height: 100%;position: absolute; right: 6%; top: 0; cursor: pointer;  background:url(../img/search.png) no-repeat center; z-index: 9999; }
/*------ media nav------*/
.open_nav,.m_nav,.m_logo{display: none;}
/*.search_ico{ display: block;  padding: 0; margin: 0; line-height: 100px; }*/

/* -----------------------content----------------- */
.content{
    width: 100%;
    height: 80%;
    position: relative;
    top:80px;
    margin-bottom: 101px;
    overflow: hidden
}

/* -----------------------footer----------------- */
footer{width: 100%; color: #a5a4a4;text-align: center !important;}

footer .footer-mid{width: 100%;height:80px;background: rgba(0, 0, 0, 0.55);position: relative; }
footer .footer-mid div{width:100%;float: left;}
footer .footer-mid ul li a{ color: aliceblue;font-size: 0.7em}
footer .footer-mid .links{width: 30%;}
footer .footer-mid .maps{width: 30%;}
footer .footer-mid .contact{width: 30%;}


footer .footer-bottom{width:100%;height:20px;background: #000;text-align: -webkit-left; }
footer .footer-bottom p{font-size: 0.8em;color: #464647;}
footer .footer-bottom p a{color: cadetblue;}
